/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
}


/* Cell Styles: */
 
.TableStyle-Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic-HeadI--
{
	
}

.TableStyle-Basic-HeadI-- p
{
	
}

.TableStyle-Basic-HeadE--
{
	
}

.TableStyle-Basic-HeadE-- p
{
	
}

.TableStyle-Basic-HeadF--
{
	
}

.TableStyle-Basic-HeadF-- p
{
	
}

.TableStyle-Basic-HeadH--
{
	
}

.TableStyle-Basic-HeadH-- p
{
	
}

.TableStyle-Basic-HeadD--
{
	
}

.TableStyle-Basic-HeadD-- p
{
	
}

.TableStyle-Basic-HeadC--
{
	
}

.TableStyle-Basic-HeadC-- p
{
	
}

.TableStyle-Basic-HeadB--
{
	
}

.TableStyle-Basic-HeadB-- p
{
	
}

.TableStyle-Basic-HeadA--
{
	
}

.TableStyle-Basic-HeadA-- p
{
	
}

.TableStyle-Basic-HeadG--
{
	
}

.TableStyle-Basic-HeadG-- p
{
	
}

.TableStyle-Basic-FootI--
{
	
}

.TableStyle-Basic-FootI-- p
{
	
}

.TableStyle-Basic-FootE--
{
	
}

.TableStyle-Basic-FootE-- p
{
	
}

.TableStyle-Basic-FootF--
{
	
}

.TableStyle-Basic-FootF-- p
{
	
}

.TableStyle-Basic-FootH--
{
	
}

.TableStyle-Basic-FootH-- p
{
	
}

.TableStyle-Basic-FootD--
{
	
}

.TableStyle-Basic-FootD-- p
{
	
}

.TableStyle-Basic-FootC--
{
	
}

.TableStyle-Basic-FootC-- p
{
	
}

.TableStyle-Basic-FootB--
{
	
}

.TableStyle-Basic-FootB-- p
{
	
}

.TableStyle-Basic-FootA--
{
	
}

.TableStyle-Basic-FootA-- p
{
	
}

.TableStyle-Basic-FootG--
{
	
}

.TableStyle-Basic-FootG-- p
{
	
}

.TableStyle-Basic-BodyI--
{
	
}

.TableStyle-Basic-BodyI-- p
{
	
}

.TableStyle-Basic-BodyE--
{
	
}

.TableStyle-Basic-BodyE-- p
{
	
}

.TableStyle-Basic-BodyF--
{
	
}

.TableStyle-Basic-BodyF-- p
{
	
}

.TableStyle-Basic-BodyH--
{
	
}

.TableStyle-Basic-BodyH-- p
{
	
}

.TableStyle-Basic-BodyD--
{
	
}

.TableStyle-Basic-BodyD-- p
{
	
}

.TableStyle-Basic-BodyC--
{
	
}

.TableStyle-Basic-BodyC-- p
{
	
}

.TableStyle-Basic-BodyB--
{
	
}

.TableStyle-Basic-BodyB-- p
{
	
}

.TableStyle-Basic-BodyA--
{
	
}

.TableStyle-Basic-BodyA-- p
{
	
}

.TableStyle-Basic-BodyG--
{
	
}

.TableStyle-Basic-BodyG-- p
{
	
}


