/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: SherwinPNPTable;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 11;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column1;
	type: Manual;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 11;
	name: Column2;
	type: Manual;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	background-color: #696969;
	name: Header1;
	id: 3;
	color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: Body1;
	type: Manual;
	color: #000000;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: Body2;
	type: Manual;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #a9a9a9;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-SherwinPNPTable
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-SherwinPNPTable-Column-Column1
{
	
}

.TableStyle-SherwinPNPTable-Column-Column2
{
	
}

.TableStyle-SherwinPNPTable-Head-Header1
{
	
}

.TableStyle-SherwinPNPTable-HeadI-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadF-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadD-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadC-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadA-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadG-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadI-Column2-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadI-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-HeadE-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadF-Column2-Header1
{
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-HeadF-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadH-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadD-Column2-Header1
{
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-HeadD-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadC-Column2-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadC-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadB-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadA-Column2-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadA-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-HeadG-Column2-Header1
{
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-SherwinPNPTable-HeadG-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-SherwinPNPTable-Foot-Footer1
{
	
}

.TableStyle-SherwinPNPTable-FootI-Column1-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SherwinPNPTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootF-Column1-Footer1
{
	background-color: #a9a9a9;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SherwinPNPTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootD-Column1-Footer1
{
	background-color: #a9a9a9;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SherwinPNPTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootC-Column1-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootA-Column1-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootG-Column1-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootI-Column2-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootI-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootE-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SherwinPNPTable-FootE-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootF-Column2-Footer1
{
	background-color: #a9a9a9;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SherwinPNPTable-FootF-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootH-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootH-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootD-Column2-Footer1
{
	background-color: #a9a9a9;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SherwinPNPTable-FootD-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootC-Column2-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootC-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootB-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootB-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootA-Column2-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootA-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-FootG-Column2-Footer1
{
	background-color: #a9a9a9;
}

.TableStyle-SherwinPNPTable-FootG-Column2-Footer1 p
{
	
}

.TableStyle-SherwinPNPTable-Body-Body1
{
	
}

.TableStyle-SherwinPNPTable-BodyI-Column1-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyI-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyE-Column1-Body1
{
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyE-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyF-Column1-Body1
{
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyF-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyH-Column1-Body1
{
	color: #000000;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyH-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyD-Column1-Body1
{
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyD-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyC-Column1-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyC-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyB-Column1-Body1
{
	color: #000000;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyB-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyA-Column1-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyA-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyG-Column1-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyG-Column1-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyI-Column2-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyI-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyE-Column2-Body1
{
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyE-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyF-Column2-Body1
{
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyF-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyH-Column2-Body1
{
	color: #000000;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyH-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyD-Column2-Body1
{
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyD-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyC-Column2-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyC-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyB-Column2-Body1
{
	color: #000000;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyB-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyA-Column2-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyA-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyG-Column2-Body1
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-BodyG-Column2-Body1 p
{
	color: #000000;
}

.TableStyle-SherwinPNPTable-Body-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyI-Column1-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyI-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyE-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyF-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyH-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyH-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyD-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyC-Column1-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyC-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyB-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyB-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyA-Column1-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyA-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyG-Column1-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyG-Column1-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyI-Column2-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyI-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyE-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyE-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyF-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyF-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyH-Column2-Body2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyH-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyD-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SherwinPNPTable-BodyD-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyC-Column2-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyC-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyB-Column2-Body2
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SherwinPNPTable-BodyB-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyA-Column2-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyA-Column2-Body2 p
{
	
}

.TableStyle-SherwinPNPTable-BodyG-Column2-Body2
{
	
}

.TableStyle-SherwinPNPTable-BodyG-Column2-Body2 p
{
	
}


